﻿
body {
    background-color: #EFEFEF;
    color: black;
}

 #pills-header{
    background-color:#19bbd5;
    color: white;
}
#pills-header:hover {
    background-color: #1696ab;
}
#pills-sub:hover {
     background-color: #0e293c;

}

#view {
  top: 20px;
    float: none;
}
.well {
  width: 400px;  
}

#view {
    margin: 0 auto;
}

#viewContainer {
    text-align: center;

}
#rule {
    margin-left: auto;
    padding: 20px;
    background-color: #FFFFFF

}
#condition{
    padding: 10px;
    background-color: #e3f6f4;

}
#value{
        padding: 10px;
    background-color: #cef8f4;

}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 65px;
        left: 225px;
        width: 480px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #0e293c;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 480px;
        font-size: 22px;
        height: 70px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1696ab !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: white;
}

/* Flot Chart Containers */
#header {
    margin-bottom: 0px;
}
.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* CSS used here will be applied after bootstrap.css */
.caret-container {
  float: right;
}

.nav-container {
  background-color: #0e293c;
  font-weight: bold;
  cursor: pointer;
}

.nav-sub-container {
  background-color:  #0e293c;
  font-weight: bold;
  cursor: pointer;
}

ul.nav-stacked ul.nav-stacked > li > a {
  padding-left: 30px;
}

.typeahead {
 height: 50px;
 overflow-y: auto;
}

.input {
  width: 350px;
}

.bg {
  background: #0e293c url("../dist/img/hydra.png") center no-repeat;
  width: 100%;
    position: absolute;
  height: 200px; 
  top: 0;
  left: 0   ;
  z-index: -1;
}

#invisible {
    width: 350px;
}


.jumbotron {
  height: 220px;
  color: white;
      background-color: transparent;
}

img {
    margin-top:15px;
    margin-bottom:15px;
    margin-right:30px;
    height: 35px;
    width: 35px;
}

#header>.navbar-header>.navbar-brand {
    font-size: 25px;
    height: 48px;
    width: 250px;
    padding: 20px;
}
