﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="hydraApp">
<head>
    <title>Hydra</title>
    <script type="text/javascript" src="../Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="../Scripts/Constellation-1.8.0.js"></script>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
    <script></script>

    <script type="text/javascript" src="../Scripts/ngConstellation-1.8.0.js"></script>

    <script type="text/javascript" src="../Scripts/angular-sanitize.min.js"></script>
    <script src="../Scripts/angular-animate.js"></script>

    <script type="text/javascript" src="../Scripts/tv4/tv4.js"></script>
    <script type="text/javascript" src="../Scripts/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="../Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular-ui/ui-router.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <script type="text/javascript" src="value-provider/value-provider.module.js"></script>
    <script type="text/javascript" src="value-provider/value-provider.component.js"></script>
    <script type="text/javascript" src="value-provider/constant.component.js"></script>
    <script type="text/javascript" src="value-provider/state-object.component.js"></script>

    <script type="text/javascript" src="pills/pills.module.js"></script>
    <script type="text/javascript" src="pills/pills-rules-group.component.js"></script>
    

    <script type="text/javascript" src="rule/rule.module.js"></script>
    <script type="text/javascript" src="rule/edit-rule.component.js"></script>
    <script type="text/javascript" src="rule/new-rule.component.js"></script>

    <script type="text/javascript" src="condition/condition.module.js"></script>
    <script type="text/javascript" src="condition/condition.component.js"></script>

    <script src="../FlatUI/dist/js/vendor/html5shiv.js"></script>
    <script src="../FlatUI/dist/js/vendor/respond.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="../FlatUI/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../FlatUI/dist/css/flat-ui.css" rel="stylesheet">

    <!-- Bootstrap theme -->

    <!-- Custom styles for this template -->
    <link href="app.css" rel="stylesheet">
</head>




<nav class="navbar navbar-inverse" role="navigation" id="header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-align-justify" aria-hidden="false" ></span>  Rule Groups</a>
    </div>
    <a href="#" class="navbar-right" ng-click="initJumbotron()"><img src="/dist/img/logo.png"/></a>
</nav>





<body ng-controller="hydraController">
<div class="container-fluid">
    <div class="bg"></div>
    <div class="jumbotron">
        <h3 class="text-center">{{factoryConstellation.getRuleGroupInSelection()}}</h3>
    </div>
</div>




<!--<form sf-schema="schema" sf-form="form" sf-model="model"></form>-->
<div id="invisible"></div>
<div class="container-fluid " id="viewContainer">
    <div class="col-md-10" ng-view id="view"></div></div>
    <div class="col-md-4" uib-collapse="isCollapsed" ng-mouseleave ="isCollapsed = !isCollapsed"><pills-rules-group></pills-rules-group></div>
       
<script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>

</body>

</html>
