<div class="panel panel-default" id="rule">

    <div class="InfosContainer" ng-show="firstTry">
        <div class="alert alert-success" id="saveAlertSucess" ng-if="saveSuccess === true">
            <span ng-click="redirectHome()" class="close">&times;</span>
            <span class="glyphicon glyphicon-ok"></span> Your rule has been succesfully saved!
        </div>
        <div class="alert alert-warning" id="saveAlertFail" ng-if="saveSuccess === false">
            <span class="glyphicon glyphicon-remove"></span> There is a problem in your rule, it's impossible to save it
        </div>
    </div>
    <div class="container-fluid">
        <h3>{{rule.Name}}</h3>
        <br/>
        <form>
            <div class="col-lg-8 ">
                <input type="text" class="form-control" id="rule-name" ng-model="rule.Name" placeholder="New rule name"/>
            </div>
            <br>
            <br/>
            <condition on-update="updateCondition(data)" default-value="rule.Condition"></condition>
            <button type="button" class="btn btn-hg btn-success" ng-click="saveRule()">Save rule</button>
            <br/>
        </form>
    </div>
</div>