﻿<!DOCTYPE html>
<html ng-app="plunker">
<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.17"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap.js"></script>
    <script></script>

    <script src="collapse-width.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="MainCtrl">
    <p>Hello {{name}}!</p>
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle Width</button>
    <hr />
    <div collapse-width="isCollapsed">
        <div class="well well-lg">Some content</div>
    </div>
</body>
</html>
