﻿

<div class="container-fluid">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li ng-repeat="ruleGroup in ruleGroups">
                <a class="nav-container" ng-click="selectRuleGroup(ruleGroup)" id="pills-header">
                    {{ruleGroup.Name}}
                    <div class="caret-container"><span class="caret arrow"></span></div>
                    <span class="glyphicon glyphicon-remove pull-right" ng-click="open(ruleGroup.Name)"></span>
                </a>
                <ul class="nav nav-pills nav-stacked" uib-collapse="openCollapside(ruleGroup)">
                    <li ng-repeat="rule in ruleGroup.Rules">
                        <a ng-href="#/edit/{{ruleGroup.Name}}/{{rule.Name}}" id="pills-sub">
                            {{rule.Name}}
                            <span class="glyphicon glyphicon-remove pull-right" ng-click="open(ruleGroup.Name,rule.Name)"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/new/{{ruleGroup.Name}}" id="pills-sub">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" collapsed()></span> Create
                        </a>
                    </li>
                </ul>
            </li>


            <li ng-repeat="localRuleGroup in localRuleGroups">
                <a class="nav-container" ng-click="selectRuleGroup(localRuleGroup)" id="pills-header">
                    {{localRuleGroup}}
                    <div class="caret-container"><span class="caret arrow"></span></div>
                </a>
                <ul class="nav nav-pills nav-stacked" uib-collapse="openCollapside(localRuleGroup)">
                    <li>
                        <a ng-href="#/new/{{localRuleGroup}}" id="pills-sub">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" collapsed()></span> Create
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a class="nav-container" ng-click="isCollapsed = !isCollapsed" id="pills-header">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new rule group
                </a>
            </li>

            <div uib-collapse="isCollapsed">
                <div class="row">
                    <div class="col-md-10 ">
                        <input type="text" class="form-control" id="newRulesGroupName" ng-model="name" placeholder="Name">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" ng-click="addRuleGroup()"><span class="glyphicon glyphicon-plus" aria-hidden="true" collapsed()></span></button>

                    </div>
                </div>
            </div>

        </ul>
    </div>
</div>