<div>
  <form name="constantForm">
    <div class="control-group" ng-class="{'has-error': constantForm.value.$invalid}">
      <label>Value</label>
        <input type="text" name="value" ng-model="value" ng-change="handleValueChange()" required/>
    </div>
  </form>
</div>

<br />
