<div class="input-group col-lg-12" id="sentinelContainer">
  <input name="sentinels" id="sentinels" type="text" ng-model="stateObject.SentinelName"
    typeahead-static-sentinel
    ng-change="onSentinelNameChange()"
    typeahead-on-select="onSentinelNameChange()"
    uib-typeahead="sentinel for sentinel in sentinelNameList | typeaheadStaticFilter:$viewValue"
    placeholder="Sentinel" class="form-control input-medium" />
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="toggleOptions('sentinel')">
      <span class="caret"></span>
    </button>
  </span>
</div>

<div class="input-group col-lg-12" id="packageContainer">
  <input name="packages" id="packages" type="text" ng-model="stateObject.PackageName"
    typeahead-static-package
    ng-change="onPackageNameChange()"
    typeahead-on-select="onPackageNameChange()"
    uib-typeahead="package for package in factoryConstellation.getPackageList() | typeaheadStaticFilter:$viewValue"
    placeholder="Package" class="form-control" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="toggleOptions('package')">
        <span class="caret"></span>
      </button>
    </span>
</div>

<div class="input-group col-lg-12" id="stateObjectsContainer">
  <input name="stateObjects" id="stateObjects" type="text" ng-model="stateObject.StateObjectName"
    typeahead-static-stateobject
    ng-change="onStateObjectNameChange()"
    typeahead-on-select="onStateObjectNameChange()"
    uib-typeahead="stateObject for stateObject in factoryConstellation.getStateObjectNameList() | typeaheadStaticFilter:$viewValue"
    placeholder="State object" class="form-control" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="toggleOptions('stateObject')">
        <span class="caret"></span>
      </button>
    </span>
</div>

<div class="input-group col-lg-12" id="stateObjectsContainer">
  <input name="JPath" id="JPath" type="text" ng-model="stateObject.JPath"
    typeahead-static-jpath
    ng-change="onJPathChange()"
    typeahead-on-select="onJPathChange()"
    uib-typeahead="key for key in stateObjectKeys | typeaheadStaticFilter:$viewValue:startsWith"
    placeholder="JPath" class="form-control" />
</div>

<br />
