<div class="container-fluid">
  <div class="btn-group" uib-dropdown is-open="$ctrl.status.isopen">
    <button id="single-button" type="button" class="btn btn-hg btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      {{status.label}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" ng-repeat="(valueProviderName, valueProvider) in valueProviders" value="valueProviderName"><a ng-click="selectValueProvider(valueProviderName)">{{valueProviderName}}</a></li>
    </ul>
  </div>

  <br /><br />
  <constant on-update="onValueProviderUpdate(data)" default-value="valueProviders.Constant" ng-show="status.valueProviderName == 'Constant'"></constant>
    <state-object on-update="onValueProviderUpdate(data)" default-value="valueProviders.StateObjectVariable" ng-show="status.valueProviderName == 'StateObjectVariable'"></state-object>
</div>
