﻿<div class="panel panel-default" id="condition">

    <div class="container-fluid">
        <div class="btn-group" uib-dropdown is-open="$ctrl.status.isopen">
            <button id="single-button" type="button" class="btn btn-hg btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                {{label}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="name in conditionsName" value="name">
                    <a ng-click="onConditionNameSelected(name)">{{name}}</a>
                </li>
            </ul>
        </div>

        <br /><br />
        <div class="row">
            <div ng-repeat="(argumentName, argument) in condition" uib-collapse="isCollapsed()" class="col-md-6">
                <div class="panel panel-default"  ng-if="argument['Provider'] !== undefined" id="value">
                    <value-provider  default-value="argument" on-update="updateArgument(argumentName, data)"></value-provider>
               </div>   
               <condition ng-if="argument['ConditionName'] !== undefined" default-value="argument" on-update="updateArgument(argumentName, data)"></condition>
           </div>
        </div>
    </div>
</div>
